[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aao = {editable = true, path = "."}

[dev-packages]
python-language-server = {version = "*", extras = ["all"]}

[requires]
python_version = "3.7"
