[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aao = {editable = true,path = "."}

[dev-packages]
pytest = "*"
bpython = "*"
jupyter = "*"
pytest-rerunfailures = "*"
pytest-cov = "*"
codacy-coverage = "*"
pytest-sugar = "*"
"flake8" = "*"
twine = "*"

[requires]
python_version = "3.7"
